.Promotions{
  box-shadow: 0px 12px 10px 14px rgba(4, 101, 72, 0.117);
  padding: 2rem;
  border-radius: 15px;
  margin: 4rem;
}
.ContainerCards{
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.ConentCards{
  display: flex;
  flex-direction: row;
}
.ContainerCategory{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contentText{
  border-radius: 15px;
  box-shadow: 2px 9px 10px 1px#0e7a764c;
  background-color: #3ab487;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  margin-bottom: 1rem;
}
.TextTratamento{
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0.7rem 0rem;
  text-align: center;
}
.contentText h1{
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}
.contentText p{
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
}

.ConentCategory{
  box-shadow: 4px 9px 10px 1px rgba(7, 129, 80, 0.247);
  cursor: pointer;
  background-color: #3fc091;
  align-items: center;
  color: rgb(247, 247, 247);
  padding: 5% 1%;
  margin: 5%;
  border-radius: 0.71vw;
  display: flex;
  flex-direction: row;
  justify-content:space-between
}
.ConentCategory:hover{
  z-index: 2;
  transition: all 0.3s;
  transform: scale(1.03);
}
.ImgCategory{
  width: 80px;
}
.TextCategory{

  font-size: 1.5rem;
  font-weight: 700;
}
.w-100{
  max-width: 50vw;
  border-radius: 2vw;
}
.TelaAgendamento{
  z-index: 99993;
  animation: 1s ease-in;
  position: fixed;
  top: 2%;
  right: -120vw;
  margin-left: 5%;
  margin-right: 5%;
  width: 90vw;
  height: 100vh;
  border-radius: 10px;
  background-color: #ededed;
  transition: 1s all ease-in-out;
}
.ButtonFechar{
  position: absolute;
  right: 0;
  border-radius: 10px;
  background-image: url(../../Img/icons8-close\ \(1\).svg);
  background-size: cover;
  width: 10px;
  height: 10px;
  background-position: center;
  border: none;
  margin: 3%;
  padding: 1.4%;
}

.TituloServiço{
  color: #ffffff;
  border: solid 1px;
  box-shadow: 0px 6px 10px 4px rgba(22, 138, 103, 0.117);
  background: linear-gradient(90deg, rgb(46, 191, 111) 16%, rgba(79,223,166,1) 49%, rgb(49, 240, 167) 84%, rgba(22, 243, 247, 0.419) 100%);  padding: 2%;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 10px 10px 0px 0px;
}
.Icons-Text{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.CalendarioCategory{
  font-size: 4rem;
  padding-right: 1.5rem;
}

@media screen and (max-width: 768px) {
  .swiper-button-next{
    right: 1vw !important;
  }
  .swiper-button-prev{
    left: 1vw !important;
  }
}
@media screen and (max-width: 390px) {
  .contentText{
    padding: 0.7rem 1rem;
  }
  .contentText h1{
    font-size: 1.7rem;
    font-weight: bold;
  }
  .contentText p{
    font-size: 0.8rem;
  }
}

