footer{
    background-color: #ffffff;
}
footer h5{
    color: #073419;
}
footer p{
    color: rgb(199, 199, 199);
}
.my-5{
    margin-bottom: 0 !important;
}
.LogoFooter{
    width: 14rem;
}
.nav-link{
    color: #073419;
}
.nav-link:hover{
    color: rgb(0, 255, 68);
}

.atendiWhats{
    font-size: 1vmax;
    color: white;
    background-color: #073419;
    border-radius: 15px;
    margin: 0px 20px;
    padding: 1.5vh 0.51vh !important;
    text-align: center;
    justify-content: center;
}
.atendiWhats:hover{
    color: white;
}
.AtendiEmail:hover{
    color: white;
}
.face:hover{
    color: rgb(0, 140, 255);
    background-color: white;
}
.AtendiEmail{
    font-size: 1vmax;
    color: white;
    background-color: rgb(225, 30, 30);
    border-radius: 20px;
    margin: 0px 20px;
    padding: 2vh 0.51vh !important;
    text-align: center;
    justify-content: center;

}
.RedeSociais{
    gap: 1rem;
}
.IconRedeSociais{
    color: white;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 76, 61);
}
.wpp:hover{
    background-color: white;
    color: rgb(0, 255, 102);
}
.insta{
    color: rgb(255, 255, 255);
    transition: 0.5s;
    transform: 0.5s;
}
.insta:hover{
    transform: 0.5s;
    transition: 05s;
    color: white;
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 1%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
    );
    
}
.CopyRight{
    background-color: #ffffff;
    text-align: center;
    color: rgb(251, 97, 97);
    font-weight: 700;
    border: none;
}
@media screen and (max-width: 390px) {
    .my-5{
        margin-top: 1rem !important;
    }
}