body {
  background-color: #fffefd;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar-track{
  width: 10px;
}
body::-webkit-scrollbar{
  margin: 5%;
  padding: 5%;
  width: 0.5vw;
  border-radius: 0.4vw;
  background-color: #ffffff98;
}
body::-webkit-scrollbar-thumb{
  border-radius: 150px;
  background-color: #318f6d;
}